@using real_estate_web_application.Models;
@{
    emlakDB db = new emlakDB();
    Kullanicilar k = (Kullanicilar)Session["HomeKullanici"];
    SiteOzellikleri st = new SiteOzellikleri();
    Kullanicilar e = new Kullanicilar();
    st = db.SiteOzellikleri.FirstOrDefault(x => x.siteID == 1);
    e = db.Kullanicilar.FirstOrDefault(x => x.admin == true);
}

<!DOCTYPE html>
<html id="ctl00_tagHtml" xmlns="https://www.w3.org/1999/xhtml">

<!-- Mirrored from emlakciplatinum.platinum.webdeneme.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Jun 2018 06:43:31 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head id="ctl00_Head1">
    <meta name="keywords" content="site," />
    <meta name="description" content="Site Açıklaması" />
    <meta property="og:image" content="site_document/icon_img/favicon_b.html" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/Content/Home/site_document/icon_img/favicon.jpg" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Nunito:400,700&amp;subset=latin,cyrillic,arabic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/Content/Home/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Home/hemencdn.com/interface/platinum/css/main.css" />
    <link href="/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Content/Admin/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/Content/Admin/css/style.css" rel="stylesheet">
    <link href="/Content/Admin/css/style-responsive.css" rel="stylesheet" />

    <script src="/Content/Home/hemencdn.com/interface/platinum/js/modernizr.min.js"></script>
    <script src="/Content/Home/ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    

    <link rel="stylesheet" href="/Content/Home/Home2/style6488.css?Tema=">
    @RenderSection("head", false);

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', ' ']);
        _gaq.push(['_setDomainName', 'emlakciplatinum.platinum.webdeneme.com']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <title>
        Emlakçı
    </title>
</head>
<body>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Kayıt Ol</h4>
                </div>
                <div class="modal-body">
                    <form action="kullaniciKayit" method="post" class="comment-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Adınızı Giriniz" name="ad">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Soyad</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Soyadınızı Giriniz" name="soyad">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Kullanıcı Adını Giriniz" name="kullaniciAdi">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Şifre</label>
                            <input type="password" class="form-control" id="exampleInputEmail3" name="sifre">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefon</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Telefonunuzu Giriniz" name="telefon">
                            <input type="hidden" value="false" name="admin">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Resim Seçiniz</label>
                            <input type="file" id="exampleInputFile3">
                        </div>
                        <button type="submit" class="btn btn-default">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Giriş Yap</h4>
                </div>
                <div class="modal-body">
                    <form action="girisYap" method="post" class="comment-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Kullanıcı Adı" name="kullaniciAdi">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Şifre</label>
                            <input type="password" class="form-control" id="exampleInputEmail3" placeholder="Şifre" name="Sifre">
                        </div>
                        <button type="submit" class="btn btn-default">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form name="aspnetForm" method="post" action="#" id="aspnetForm">
        <div>
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="yBqXfkMJ+Jh2W8say1JhhyaaqmwthAFawPk2CdgdqZ0pskqE/BLhJF3rlgge8Uc4svuMo4PoBNqum4aYQu31pnEhEvbcR5r2ZblxrQg8t6WpCtUPD3L+nDCCn4ZpLqn7rB/obMZwCuSI0k3FlIR+flAr9RZHoM5q6ksTkJWIdPQiqpDtpET0mjqsYm9TUa0loMQ7bKMMnKzjwkATq0QyfSJ5IGMcXSd4ssamXGd0eqwJ+98PradoBhY9HchDEhObeWxmeYRGBlQLEzKdzF4He/3JhpKW8S7nf2ID8u6yxClVZzLeuARlMuln3ZdRweh1wR4aRf5t0wyjpkZrn4TIc/1FeYf798tQkj+j10dBOQkfiozTCKCsD/GrbApYpEeSb43L4zaJvwoxnNy2xWKevndhRbzGJ1ocaD4h3VKJ9ay3EzPAZM/V4a+tbjQeJ6xUjDONNa6BZdIqk3m7bIuDa6YRELmPV/ZOZ8fh9lk/SZs7BE7nMQfPwMnp3CwwGZGvIgONnYqqNoF/Qn55I8MoJt/hXZwtseU77H7tzxlptzYTbL1osKLar22yWqtdjb3xpA4h0TqbnPToqQVpCTZzIakoE/8ST8ox5FJZP4a5Nd8YSGM+TTD0Oos6Yht/ZzPIaYwMeAeG0fFYott6epWS9f4UPIfZ/M4IgjNbAix8WqIbK8woJTC/b1IiDAbpkCPt9dK4WO51KqUTM129YH4Gzpfa6HZv1bm4PCY/BF3D6VsF3g1kmMLcQY3J2PC3t1OKexuzVg6Fbqm9KVDX0KtN1vhGhtmDJ8DNVLxhrc7PX4BTZbftMOpmuJT3YVqY5a7rSNHfU2QjB9AduRlWOQdP+Ow/diFCbZsQUb3vAyx6t7Xo3hl5YUlomnegttOYNg6CxhSl8Hq3dTQwEbg/OA5JJkMlVEmqO18tTbnm+D4V65uZvtRkYNrc7xtVZxBgpl5JTG3CjjMhXJJoAUUVkSAEYo2rPu0V38oeNNPwusPR0GGiWea7Xr8gVrrTRvN/M7b6v9smP7NljJdOAxLNCf7x+wyOr6VXm1RfTa6YvOLJYHBQc0rxnCxLFd6R6dqYGD7X7B38x+KNrlAhUPop0FduFvGsiIsyQwGvFyeJKETD/HHSddtE2dXaIxAkSWjyNyxh/DGC66zYL2Jawywu/2ufRiUdbdLE+lI8qobS2Xs1sTuzguK3RTlkIbOROIFb5e6pzAncvl26M6d+DASc2U9Y8+eNNNeM+lSyHUjWtyJckRpRUWfo8jtcjWKUPCPbm1srlijy6eoqpdWb9JyQXhcLcGT4zPXPwYhNn0tlslMaZMpIHM8aFAv/dYVRa7xAF+AX3AtatLepqRaHetgqW9odatRALrKdvp3fsKCssinc0cNrGCSSIOwNYQaeXtGRWFtYmtEcYJbzg8X/+ZIY7xDsBCLC8V/T46dLca62S17PAj/iu4oNfgxM4365SAG1m0PDaQNQvk23By7fWnNueej5ivmnO22GJaeNN1vVCS8yFfYsbVsPEWyPXzeDxfJOrSLBSt81wBFGPQ5ZJHn4MK4yGWi5c4wu5LKaSXm0ANabhdGaY5Iq6x5ly8jtgKxztj3/U5tZFOMmJ9+8FswbUaqE4I/pj9WDNqz6m4o5X/4paAuS2aUxvkACdt/pAfuASTz/bOf2yzDwXfdTouyImtqwCGCxtdaf3DrDBZ9/kOK5VNGZmyowzgA7ZNE0bYv6vH/Ur1VsZlPevUQCRAPSc+ZvQrcCGTKDRUnKx+1nKviN0Gb31Q4GxAq2d1N6o/TwLeZFe31+5r//4y8BH8m8TRbCvk5f21rESOGXMAatY1IQrXKCAyyqJ5ehQGo0jWq3kxOM/OQBoSh+SEMqeR3eruToPEWjiVIfkdG5y0uN1eyXyfMCO2DYOZBavRRoA9GBypHEMT3IHkLhgt5bYa9F9n3g8N3owyjqVmdOalOhGacUXzK0rgabS4I//unkn1pFt7tja0E2LmDzfqfeAU0bxA+Iaa4xSlv3c6Kvt1nKAOzd4O8Tb2zrq94zqva+cgzVdKngjjpn7/ICOCwfe5qc1JruQruumq57RkRT3DH3G08I5tLyTUvd/kH01I6xwFFvJRPWZdE/kndpTVQBFw/ou2j658QJs9WkucpmXSuftdYXBc/mNiCkKcShwt/SJVzK3kQWfC+0pi7n+43pvpqGm/QDe8R7FgGbCgEHC8xPXOB2F195LIezFXrUAwXaNS3c4mK8g7xQrxeTSki9BgEjIjYCK3PxGOt6zjQwSQeu7E3SaR/HcN/KZQuz1VnApjBfVTN045tMB0/7lghTWvWjVex/qOEVaLIiH3KY7h2YME3FXeBUk9g0qcfiOHY6Yc+noZy9fmF+/7dRFzmnV5dNS87gXEIDL6mKiKWpVFRxLUbtfqWf1bAPMC8Ico/27N/hwF6pBkj3NTzDvWdj2UrUCyX2DZxRPywiDzcR88G0GaSdtF0VqHlcSUZ6EyPDRHqbafg5smHR+3dyfZf5tl093NLxR9yOh4tAG3Vz4m4zKzvPI0dO3PfQFWO07j14uQYm2Zt6Gghg6ZZ0T30WkTffP9TDNQWo4tP+LLN+p0Z3qN9lYQfXz1eBov9uXX/CeiV0P6Hrf4pWv/eREnrWV1gxsvwQy7DqO5PksQ2jvdWWCWA9SLECEyF1Nv29l88VAIx0/0o7mjdUq2nDul3KzSOKsILimtDy3BtnLBmmHp+NfCZ4wUvWCLoqugA7ZWr8v70axdRi0Ed3Xbt1Oudh8L9CION2v2nJJ6pCOCzW1SGwN0sMh5LnOe+JzZ/12TqIEiq4BRiKpUKOoKeUAw0vOsipREoDxO5CXKz+XOtpvGlx+jf+CtpqCQVP21QoDeT95CpdPk8aOEg5+T+ZmFcOOqGYsu5TW/2KhF6LXFyvm7LZ5QQyGxlZsvgzchFG+/iMSza8Bvw0H5qFcJl81Md1ncjL2t+6k6C1WAlo7CC2W/6TALpWuE4G5HfjF3uLkn+l1Y5Keizz8tMopXd+KjQoEx16MgkXIJt5AGz9aPUHR3b81QtCpBTOgi/y22OGpK2WzDM0018HXXGQyUiSvsGfYOm5q3W5+4FpJELz1nILtHXb7OesMz1OfcFNopDpcgI6H7qgzwjUZD7fgTBVgfN3WdYomG+kq6TGKWkiIOGO1BYvrwAV/2VdBoQYJMB72G6YT20zWj5mr4QCDwh4GkMEjdbiW2N8pu0S8tqDVsD67VR7o2BcnsqnfBwe4Fyv34gvPRWVhxLewUVIdGDrcr3xYWrDpkFenjdINBGckpuoNznVXWbiB5mCyD7/MXViXpwYxNJH5meRyjvhdKXA56HNJzt1bd5Ftc029bUyzv5MAmahUqUmsz0J+iJE1yr4dprC4EOAsaeCmcEl9anzq992F6Jq658/OX10QJQhoHh8++foNO8oi159DsGmvhu6rDjnioZAgzEzNB7TZYaoUa3qq1Gp1ACsNFQ/OKKnn/rLlvNmAA3PoTsrWlcO8RisoOdOL6jOlt0XOme7S4T76aiDr/C+ODl4id76cuyOkIw5rmeNir7jEmboHXyjiAgcaJ2s6/AjJLoglZOqyCx/qy7RcHn+VyPmdN5N8C4BnDW2oi1/9x4Y9LQbopSjogl/t5+1gIL+2rolGVcfvVuMTGLynck9IrKt/SqpumIitLiqDaio6O8hOin8rbmbX+nFMmjPvTILDHJBLmAqUnQkA130sh98kMo4q+r9YLB4D/Yb9JFpj2Y9HckN5yRiBWe9xDc52Ap2Pc6L/cwg7/ILwtx8TDHhIIkP1EIbsk5fO0du+KpuY4xfg+narClaA4W6uPw20MmjE7IoXcI4PAHxK7iWrTES7Okw9zFFi5XLSLSwQw00l/AKWwcwagsn9JiYoOit7bDQRuirS28rHZ1z/lyXk0jortQGdGpT0SRmea9kblYUNUOhbASga4lVPp3XKXu2O+Kwfobmz7U9LbF62u2gIroshWdVPpV7iAnxCBLzOPklzfotsqX4C5+Fj2zobhu8ZvGinhJCzg0B8UeXSJK6pKJ3/kj/hDm7FgwWc4rarbdBNISzjF458SfX9GL6TYH7aFbkzx8FFjwPEmriYOrRhen4j99DW9XmZqhY0OqCpR12qvWEdDJYtlsZF1Q9NesVNI6gCDsu" />
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['aspnetForm'];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>


        <script src="/Content/Home/Home2/WebResource80cd.js?d=yg7t6yzv6aA6hOi79iZOtIYXmYIuoIjquywC0cVN8FK6erlmI5R1w4X41MAVdDpjs09fejXbn7JJ7knR8U50VN9En7j3Uju6TEfRZyHvTNg1&amp;t=635117037316159565" type="text/javascript"></script>


        <script src="/Content/Home/Home2/ScriptResource48ca.js?d=HZFcykFttIQ2ikE_hVPxiQxybw_O_jf80B0v4LVnfimC3FYQDOZU0psHlx3gtYTprtScajPmSSsM6_IxL8tae5YP6JlHYiqWC_Rw5XoaoGd9Tk2EphXlOraPYUzVTJIzRXH2Eg4qEN40AOC45gPGPX7HHARP8JDqq1WsywGjvn01&amp;t=26dfbc01" type="text/javascript"></script>
        <script src="/Content/Home/Home2/ScriptResource3169.js?d=3najDHAvL9ngCqFVIi0PreorGYKHRrl4KHGlWFxu59pUzaWXAyNbvYYDRijjA-CrF-a6nbr74LOUI-tbmyKfRK8JRe68VMV6ld3u3hgJt3V7jtCnXkvamfMSuB_5bYwKXQbWwu6xzy4PJcK5qCKm2Vp4CZ5sVNI8XZ6WWpaN49i8M88WIvkp6-XP6UhjkiWR0&amp;t=26dfbc01" type="text/javascript"></script>
        <div>

            <input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="" />
        </div>
        <script type="text/javascript">
            //<![CDATA[
            Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
            //]]>
        </script>

        <div class="body">
            <header id="header" class="headertheme_10 header-narrow" data-plugin-options='{"stickyEnabled": false, "stickyEnableOnBoxed": false, "stickyEnableOnMobile": true, "stickyStartAt": 0, "stickySetTop": "-0", "stickyChangeLogo": true}'>
                <div class="header-body">



                    <div class="header-top htop_10" style="background-color: #000000; color: #000000">

                        <div class="container">

                            <div class="header-row product-search">
                                <div class="header-search">
                                    <div class="input-group">

                                        <div id="ctl00_Header_ctl00_urunAra" onkeypress="">

                                            @if(k == null)
                                            {
                                            <a href="#myModal" data-toggle="modal" class="btn btn-xs btn-success">
                                                Kayıt Ol
                                            </a> 
                                            <a href="#myModal1" data-toggle="modal" class="btn btn-xs btn-success">
                                                Giriş Yap
                                            </a>
                                            }
                                            else
                                            {
                                                <li class="dropdown" style="background-color:white;width:170px">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="/Content/Admin/#">
                                                        <img alt="" src="/Content/Admin/img/avatar1_small.jpg">
                                                        <span class="username"><b>@k.ad</b> <b>@k.soyad</b></span>
                                                        <b class="caret"></b>
                                                    </a>
                                                    <div class="log-arrow-up"></div>
                                                    <ul class="dropdown-menu extended logout">
                                                        <li><a href="@Url.Action("cikisYap")"><i class="icon-key"></i> Çıkış Yap</a></li>
                                                    </ul>
                                                </li>
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="header-info info-1">
                                <p><a href="tel:+902124440444"><span style="color:#FEEA0D;">@st.telefon</span></a></p>
                                
                            </div>

                            

                        </div>
                    </div>
                    <div id="header" class="headtheme_10 header-container container">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-logo">
                                    <table border="0" cellpadding="0" cellspacing="0" class="tema_sol">
                                        <tbody>
                                            <tr>
                                                <td><a href="/Home/Index"><img src="@st.Resim.resimUrl" style="width: 60px; height: 60px;" /></a></td>
                                                <td><a href="/Home/Index"><span style="color:#FFFFFF;"><span style="font-size:24px;">@st.ad</span></span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="header-column">
                                <div class="header-row">
                                    <div class="header-nav">
                                        <button class="btn header-btn-collapse-nav" type="button" data-toggle="collapse" data-target=".header-nav-main">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse menu_tur_10">
                                            <nav>
                                                <ul class="nav nav-pills" id="mainNav">

                                                    <li>
                                                        <a href="/Home/Index" id="mn_1"><span data-hover="Anasayfa">Anasayfa</span></a>
                                                    </li>

                                                    <li>
                                                        <a href="/Home/Hakkimizda" id="mn_289"><span data-hover="Hakk&#305;m&#305;zda">Hakk&#305;m&#305;zda</span></a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="/Home/Ilanlar" id="mn_293" class="dropdown-toggle"><span data-hover="&#304;lanlar">&#304;lanlar</span></a>
                                                        <ul class="dropdown-menu">

                                                            <li>
                                                                <a href="/Home/Kiralik" id="mn_224"><span data-hover="Kiral&#305;k">Kiral&#305;k</span></a>
                                                            </li>

                                                            <li>
                                                                <a href="/Home/Satilik" id="mn_225"><span data-hover="Sat&#305;l&#305;k">Sat&#305;l&#305;k</span></a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                   

                                                    <li>
                                                        <a href="/Content/Home/Home2/iletisim/m/3.html" id="mn_3"><span data-hover="&#304;leti&#351;im">&#304;leti&#351;im</span></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            @{
                if (TempData["a"] != null)
                {
                    <br />
                                        <div class="col-lg-8">
                                            <div class="alert alert-danger alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>@TempData["a"]</strong>
                                            </div>
                                        </div>
                }
            }
            @RenderBody()


            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div id="ctl00_AltAlan_pnaltAlt">


                            <!-- ##Blok -->
                            <div class="col-md-4">

                                <div class="Blok" data-appear-animation="fadeInLeft" id="statik_254">
                                    <!-- Blok Başlık -->
                                    <h4 class="heading-primary">Hakkımızda</h4>
                                    <div class="Area">
                                        <p>@st.hakkimizda</p>

                                    </div>
                                </div>

                            </div>
                            <!-- ##Blok -->
                            <div class="col-md-4">

                                <div class="Blok" data-appear-animation="fadeInUp" id="statik_252">
                                    <!-- Blok Başlık -->

                                    
                                    <div class="Area">


                                        <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "../connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.4&appId=1476541989307014";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>

                                        
                                    </div>
                                </div>

                            </div>
                            <!-- ##Blok -->
                            <div class="col-md-4">

                                <div class="Blok" data-appear-animation="fadeInRight" id="statik_288">
                                    <!-- Blok Başlık -->
                                    <h4 class="heading-primary">İletişim</h4>
                                    <div class="Area">
                                        <p>Adres: @st.adres</p>

                                        <p>Telefon: @st.telefon</p>

                                        <p>Fax: @st.cepTel</p>

                                        <p>E-Mail: @st.email</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright" style="display: block !important; visibility: visible !important;">
                    <div class="container" style="display: block !important; visibility: visible !important;">
                        <div class="row" style="display: block !important; visibility: visible !important;">
                            <div class="col-md-6" style="display: block !important; visibility: visible !important;">
                                Copyright (c) 2018 @st.ad Sitesi - Tüm Hakları Saklıdır.
                            </div>
                            <div class="col-md-6 pull-right" style="display: block !important; visibility: visible !important;">
                                <div class="pull-right" style="display: block !important; visibility: visible !important;">
                                    <div class="bilgikurumsal GenislikSub"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </form>

    <script src="../maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="../hemencdn.com/interface/platinum/js/main.js"></script>
    <script src="/Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/js/bootstrap.min.js"></script>
    <script src="/Content/Admin/js/jquery.scrollTo.min.js"></script>
    <script src="/Content/Admin/js/jquery.nicescroll.js" type="text/javascript"></script>

    <script src="/Content/Admin/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script class="include" type="text/javascript" src="/Content/Admin/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--custom switch-->
    <script src="/Content/Admin/js/bootstrap-switch.js"></script>
    <!--custom tagsinput-->
    <script src="/Content/Admin/js/jquery.tagsinput.js"></script>
    <!--custom checkbox & radio-->
    <script type="text/javascript" src="js/ga.js"></script>

    <script type="text/javascript" src="/Content/Admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/Content/Admin/assets/bootstrap-daterangepicker/date.js"></script>
    <script type="text/javascript" src="/Content/Admin/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/Content/Admin/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="/Content/Admin/assets/ckeditor/ckeditor.js"></script>

    <script type="text/javascript" src="/Content/Admin/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="/Content/Admin/js/respond.min.js"></script>


    <!--common script for all pages-->
    <script src="/Content/Admin/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="/Content/Admin/js/form-component.js"></script>




    @RenderSection("script", false)
</body>

<!-- Mirrored from emlakciplatinum.platinum.webdeneme.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Jun 2018 06:44:40 GMT -->
</html>