
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section head{

    <link rel="stylesheet" type="text/css" href="/engine2/style.css" />
    <script type="text/javascript" src="/engine2/jquery.js"></script>

}

@using real_estate_web_application.Models;
<!--Slider-->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="/data2/images/slide1.jpg" alt="" title="" id="wows1_0" /></li>
            <li><img src="/data2/images/untitled1.jpg" alt="" title="" id="wows1_1" /></li>
            <li><img src="/data2/images/slide2.jpg" alt="" title="" id="wows1_2" /></li>
            <li><a href="/http://wowslider.net"><img src="/data2/images/slide3.jpg" alt="image slider" title="" id="wows1_3" /></a></li>
            <li><img src="/data2/images/slide4.jpg" alt="" title="" id="wows1_4" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide1.jpg" alt="" />1</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/untitled1.jpg" alt="" />2</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide2.jpg" alt="" />3</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide3.jpg" alt="" />4</span></a>
            <a href="/#" title=""><span><img src="/data2/tooltips/slide4.jpg" alt="" />5</span></a>
        </div>
    </div><div class="ws_script" style="position:absolute;left:-99%"><a href="/http://wowslider.net">html slideshow</a> by WOWSlider.com v8.8</div>
    <div class="ws_shadow"></div>
</div>



<!-- OrtaAlan1 Başlangıç -->
<div id="ctl00_cph1_OrtaAlan_panel_orta">
    <section class="sec_products con_ps_4 ui_ps_45 parallax section section-parallax section-center mb-none" data-stellar-background-ratio="0.5" style="background-color:#FFFFFF;">
        <div class="container">
            <div class="shop">
                <div class="row">
                    <div data-appear-animation="flash" class="col-md-12">
                        <br />
                        <h2 style="color:#000000">
                            Yeni İlanlar
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <ul class="products product-thumb-info-list tur_urun_4" data-plugin-masonry="" data-plugin-options='{"layoutMode": "fitRows"}'>

                                @foreach (Ilan item in ViewBag.iln)
                                 {

                                    if (item.vitrin == true)
                                    {
                                        <li data-appear-animation="flash" class="blid_1328 col-md-3 col-sm-6 col-xs-12 product">
                                            <a href="ilanDetay/@item.ilanID" title="&#220;sk&#252;dar Sat&#305;l&#305;k Daire">
                                                <span class="onsale menuarkaplan">@item.fiyat TL </span>
                                                <span class="product-thumb-info thumb-info-no-zoom"> 
                                                    @foreach (Resim ritem in ViewBag.resim) 
                                                    {
                                                       if (ritem.ilanID == item.ilanID && ritem.vitrinResim==true)
                                                       {
                                                        <img alt="&#220;sk&#252;dar Sat&#305;l&#305;k Daire" class="img-responsive" src="@ritem.resimUrl">
                                                       }
                                                    }                                                    
                                                       
                                                    <span class="product-thumb-info-content">
                                                        @item.baslik
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    }
                                 }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gosterim_tumu">
                <div data-appear-animation="flash" class="col-md-12 center">
                    <a class="btn btn-primary btn-lg" href="/Home/Ilanlar" title="T&#252;m&#252;n&#252; G&#246;ster">
                        T&#252;m&#252;n&#252; G&#246;ster
                    </a><br /><br />
                </div>
            </div>
        </div>
    </section>

    <section class="sec_mainbox con_mb_6 ui_mb_316 parallax section section-parallax mb-none" data-stellar-background-ratio="0.5" style="background-image: url('/Content/Home/Home2/site_document/kutuResim/blok-1312017ZWL35.jpg');">
        <div class="container">

            <div class="row">
                <div class="col-md-12 center"><br /><br />
                    <h2 data-appear-animation="fadeInUp" style="color:#212121">
                        Kalite ve G&#252;venin Tek Adresi
                    </h2>
                    <p data-appear-animation="fadeInUp" class="blok_aciklama" style="color:#212121">
                        Sayılarla bizi tanıyın
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="counters" style="color:#212121">
                    <div data-appear-animation="fadeInUp" class="blid_95 col-md-4 col-sm-6">
                        <div class="counter">
                            <i class="fa fa-group" style="color:#575757;"></i>
                            <strong style="color:#575757;" data-to="200" data-append="+">@ViewBag.kullaniciSayisi</strong>
                            <label style="color:#575757;">Kullanıcı Sayısı</label>
                        </div>
                    </div>
                    <div data-appear-animation="fadeInUp" class="blid_97 col-md-4 col-sm-6">
                        <div class="counter">
                            <i class="fa fa-map-marker" style="color:#575757;"></i>
                            <strong style="color:#575757;" data-to="81" data-append="+">@ViewBag.ilanSayisi</strong>
                            <label style="color:#575757;">İlan Sayısı</label>
                        </div>
                    </div>
                    <div data-appear-animation="fadeInUp" class="blid_96 col-md-4 col-sm-6">
                        <div class="counter">
                            <i class="fa fa-trophy" style="color:#575757;"></i>
                            <strong style="color:#575757;" data-to="50" data-append="+">@ViewBag.yorumSayisi</strong>
                            <label style="color:#575757;">Yorum Sayısı</label>
                        </div>
                    </div>
                </div>             
            </div><br /><br />  
            </div>
    </section>
</div>
        









@section script{
    <script type="text/javascript" src="/engine2/wowslider.js"></script>
    <script type="text/javascript" src="/engine2/script.js"></script>
}


