
@{
    ViewBag.Title = "Kullanıcı Listele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using real_estate_web_application.Models;



<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header style="text-align:center" class="panel-heading">
                <B>Admin ve Kullanıcılar Listesi</B>
            </header>

            @{
                if (TempData["b"] != null)
                {
                    <br />
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@TempData["b"]</strong>
                        </div>
                    </div>
                }
            }


            <!--ADMİN LİSTESİ-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <b>Admin Listesi</b>
                        </header>
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class="icon-bullhorn"></i>Adı</th>
                                    <th><i class="icon-question-sign"></i>Soyadı</th>
                                    <th><i class="icon-bookmark"></i>Kullanıcı Adı</th>
                                    <th><i class="icon-edit"></i>Telefon</th>
                                    <th><i class="icon-edit"></i>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (Kullanicilar a in ViewBag.Kullanicilar)
                                {
                                    if (a.admin == true)
                                    {
                                        <tr>
                                            <td>@a.ad</td>
                                            <td>@a.soyad</td>
                                            <td><span class="label label-info label-mini">@a.kullaniciAdi</span></td>
                                            <td>@a.telefon</td>                                            
                                            <td>                                                
                                             <a href="kullaniciDuzenle/@a.kullaniciID" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></a></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </section>
                </div>
            </div>

            <br /><br />

            <!--KULLANICI LİSTESİ-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <b>Kullanıcı Listesi </b>
                        </header>
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class="icon-bullhorn"></i>Adı</th>
                                    <th><i class="icon-question-sign"></i>Soyadı</th>
                                    <th><i class="icon-bookmark"></i>Kullanıcı Adı</th>
                                    <th><i class="icon-edit"></i>Telefon</th>
                                    <th><i class="icon-edit"></i>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Kullanicilar a in ViewBag.Kullanicilar)
                                {
                                    if (a.admin == false)
                                    {
                                        <tr>
                                            <td>@a.ad</td>
                                            <td>@a.soyad</td>
                                            <td><span class="label label-info label-mini">@a.kullaniciAdi</span></td>
                                            <td>@a.telefon</td>

                                            <td>
                                                
                                                <a href="#" class="btn btn-danger btn-xs modalAc" data-toggle="modal" data-kullaniciad="@a.ad" data-kullanicisoyad="@a.soyad" data-kullaniciid="@a.kullaniciID" data-target="#modalConfirmDelete"><i class="icon-trash"></i></a>
                                                <!--Modal: modalConfirmDelete-->
                                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                                        <!--Content-->
                                                        <div class="modal-content text-center">
                                                            <!--Header-->
                                                            <div class="modal-header d-flex justify-content-center">
                                                                <p class="heading">Kullanıcı Sil</p>
                                                            </div>

                                                            <!--Body-->
                                                            <div class="modal-body">

                                                                <p></p>

                                                            </div>

                                                            <!--Footer-->
                                                            <div class="modal-footer flex-center">
                                                                <a class="btn  btn-success kullaniciSil">Evet</a>
                                                                <a class="btn  btn-danger waves-effect" data-dismiss="modal">İptal</a>
                                                            </div>
                                                        </div>
                                                        <!--/.Content-->
                                                    </div>
                                                </div>
                                                <!--Modal: modalConfirmDelete-->                                            
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>



            @section script{

                <script src="~/Content/Admin/js/jquery-1.8.3.min.js"></script>

                <script>
                    $(".modalAc").click(function () {
                        var kullaniciAd = $(this).data("kullaniciad");
                        var kullaniciSoyad = $(this).data("kullanicisoyad");
                        $(".modal-body>p").html(kullaniciAd + " " + kullaniciSoyad + " isimli kullanıcı silinsin mi?");
                        var kullaniciID = $(this).data("kullaniciid");
                        $(".kullaniciSil").data("kullaniciID", kullaniciID) //modal butonuna basıldığında id'yi çeker bu id'yide bu satırda kullaniciSil classlı butona yolluyoruz
                        $(".kullaniciSil").data("kullaniciAd", kullaniciAd)
                        $(".kullaniciSil").data("kullaniciSoyad", kullaniciSoyad)
                    });                   
                    $(".kullaniciSil").click(function () {  //kullaniciSil classlı buton çalıştığında ajax çalışacak ve silencek admini controllers'a yolllar
                        var kullaniciID = $(this).data("kullaniciID");
                        var kullaniciAd = $(this).data("kullaniciAd");
                        var kullaniciSoyad = $(this).data("kullaniciSoyad");                        
                       

                        $.ajax({
                            type: "POST",
                            url: "/Admin/kullaniciSil/" + kullaniciID,
                            success: function () {
                                window.location.replace("/Admin/kullaniciListele");
                            },
                            error: function () {
                                alert("İlan Silinirken Bir Hata Ortaya Çıktı");
                            }
                        });
                    });
                </script>
            }

        </section>
    </div>
</div>











